<!DOCTYPE html>
<html lang="en">     
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="icon" type="jpg" href="/public/img/feliz.png">
    <title>be positive!</title>
</head>
<body>
    <form action="home" class= "box" method="POST">
        <h1>Inserção de Dados</h1></br>
         <input type="text" name="name" placeholder="digite seu nome" required>
         <input type="text" name="email" placeholder="digite seu e-mail" required>
         <input type="password" name="pass" placeholder="digite uma senha" required>
         <input type="password" name="password" placeholder="confirme a senha" required>
         <input type="submit" name="cad" value="Cadastrar">
      </form>
</body>
</html>